<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dl_pe_b_031.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,2},{370,370}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,57},{370,370}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>dl_pe_b_0310.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,374},{344,368}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,55},{344,368}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>dl_pe_b_0311.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,446},{342,368}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,55},{342,368}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>dl_pe_b_0312.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,720},{318,362}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,57},{318,362}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>dl_pe_b_0313.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,1040},{322,310}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,75},{322,310}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>dl_pe_b_0314.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,1310},{308,300}}</string>
                <key>offset</key>
                <string>{-4,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,83},{308,300}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>dl_pe_b_0315.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,1016},{292,282}}</string>
                <key>offset</key>
                <string>{5,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{99,89},{292,282}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>dl_pe_b_032.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,1728},{256,258}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,112},{256,258}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>dl_pe_b_033.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1108},{318,318}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,83},{318,318}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>dl_pe_b_034.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{442,442}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,22},{442,442}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>dl_pe_b_035.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1728},{274,274}}</string>
                <key>offset</key>
                <string>{-2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,97},{274,274}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>dl_pe_b_036.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,1352},{298,302}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,91},{298,302}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>dl_pe_b_037.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1428},{298,300}}</string>
                <key>offset</key>
                <string>{-5,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,93},{298,300}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>dl_pe_b_038.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,720},{284,294}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,95},{284,294}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>dl_pe_b_039.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,790},{330,316}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,87},{330,316}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>BigBossEffect-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1022,2004}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:df3b4f56ff0083b76e912db26a3acffa$</string>
            <key>textureFileName</key>
            <string>BigBossEffect-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
