<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dl_pe_a_021.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,478},{408,420}}</string>
                <key>offset</key>
                <string>{-6,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,42},{408,420}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>dl_pe_a_022.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,866},{408,400}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,59},{408,400}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>dl_pe_a_023.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,466},{450,416}}</string>
                <key>offset</key>
                <string>{3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,43},{450,416}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>dl_pe_a_024.png</key>
            <dict>
                <key>frame</key>
                <string>{{1496,452},{474,428}}</string>
                <key>offset</key>
                <string>{3,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,31},{474,428}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>dl_pe_a_025.png</key>
            <dict>
                <key>frame</key>
                <string>{{1496,2},{492,448}}</string>
                <key>offset</key>
                <string>{3,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,23},{492,448}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>dl_pe_a_026.png</key>
            <dict>
                <key>frame</key>
                <string>{{1002,2},{492,458}}</string>
                <key>offset</key>
                <string>{10,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,23},{492,458}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>dl_pe_a_027.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,2},{496,462}}</string>
                <key>offset</key>
                <string>{8,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,26},{496,462}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>dl_pe_a_028.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{500,474}}</string>
                <key>offset</key>
                <string>{-6,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,28},{500,474}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>dl_pe_a_029.png</key>
            <dict>
                <key>frame</key>
                <string>{{1002,462},{464,402}}</string>
                <key>offset</key>
                <string>{24,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,55},{464,402}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>NukeEffect-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1990,1268}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:807b5f10c045e781a2fb81c1471852b7$</string>
            <key>textureFileName</key>
            <string>NukeEffect-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
