<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dl_bigenemy_01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,126},{52,67}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{52,67}}</string>
                <key>sourceSize</key>
                <string>{56,69}</string>
            </dict>
            <key>dl_bigenemy_01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,826},{50,63}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{50,63}}</string>
                <key>sourceSize</key>
                <string>{56,69}</string>
            </dict>
            <key>dl_bigenemy_01_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,878},{42,63}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{42,63}}</string>
                <key>sourceSize</key>
                <string>{56,69}</string>
            </dict>
            <key>dl_bigenemy_02_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,702},{76,64}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,11},{76,64}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>dl_bigenemy_02_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,702},{76,62}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,13},{76,62}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>dl_bigenemy_02_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,2},{70,64}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,11},{70,64}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>dl_bigenemy_02_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,768},{60,64}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,11},{60,64}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>dl_bigenemy_03_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,768},{71,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{71,56}}</string>
                <key>sourceSize</key>
                <string>{75,62}</string>
            </dict>
            <key>dl_bigenemy_03_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,180},{71,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{71,56}}</string>
                <key>sourceSize</key>
                <string>{75,62}</string>
            </dict>
            <key>dl_bigenemy_03_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,68},{67,56}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{67,56}}</string>
                <key>sourceSize</key>
                <string>{75,62}</string>
            </dict>
            <key>dl_bigenemy_03_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,943},{55,56}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,3},{55,56}}</string>
                <key>sourceSize</key>
                <string>{75,62}</string>
            </dict>
            <key>dl_enemy_01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,928},{46,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{46,25}}</string>
                <key>sourceSize</key>
                <string>{48,27}</string>
            </dict>
            <key>dl_enemy_01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,976},{44,25}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{44,25}}</string>
                <key>sourceSize</key>
                <string>{48,27}</string>
            </dict>
            <key>dl_enemy_01_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,808},{36,25}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,1},{36,25}}</string>
                <key>sourceSize</key>
                <string>{48,27}</string>
            </dict>
            <key>dl_enemy_02_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,738},{48,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{48,33}}</string>
                <key>sourceSize</key>
                <string>{50,33}</string>
            </dict>
            <key>dl_enemy_02_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,878},{48,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{48,31}}</string>
                <key>sourceSize</key>
                <string>{50,33}</string>
            </dict>
            <key>dl_enemy_02_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,830},{46,31}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,1},{46,31}}</string>
                <key>sourceSize</key>
                <string>{50,33}</string>
            </dict>
            <key>dl_enemy_02_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,960},{38,31}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,1},{38,31}}</string>
                <key>sourceSize</key>
                <string>{50,33}</string>
            </dict>
            <key>dl_enemy_03_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,874},{36,38}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{36,38}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>dl_enemy_03_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,914},{36,36}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{36,36}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>dl_enemy_03_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,768},{32,38}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{32,38}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>dl_enemy_03_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,918},{32,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{32,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>dl_enemy_04_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,923},{22,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{22,43}}</string>
                <key>sourceSize</key>
                <string>{24,45}</string>
            </dict>
            <key>dl_enemy_04_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,830},{22,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{22,43}}</string>
                <key>sourceSize</key>
                <string>{24,45}</string>
            </dict>
            <key>dl_enemy_04_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,878},{22,43}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{22,43}}</string>
                <key>sourceSize</key>
                <string>{24,45}</string>
            </dict>
            <key>dl_enemy_04_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,98},{20,43}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{20,43}}</string>
                <key>sourceSize</key>
                <string>{24,45}</string>
            </dict>
            <key>dl_enemy_05_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,830},{25,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{25,42}}</string>
                <key>sourceSize</key>
                <string>{29,42}</string>
            </dict>
            <key>dl_enemy_05_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,874},{25,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{25,42}}</string>
                <key>sourceSize</key>
                <string>{29,42}</string>
            </dict>
            <key>dl_enemy_05_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,919},{27,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{27,42}}</string>
                <key>sourceSize</key>
                <string>{29,42}</string>
            </dict>
            <key>dl_enemy_05_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,963},{27,42}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,42}}</string>
                <key>sourceSize</key>
                <string>{29,42}</string>
            </dict>
            <key>dl_enemy_06_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,708},{35,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,28}}</string>
                <key>sourceSize</key>
                <string>{35,28}</string>
            </dict>
            <key>dl_enemy_06_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,768},{31,28}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{31,28}}</string>
                <key>sourceSize</key>
                <string>{35,28}</string>
            </dict>
            <key>dl_enemy_06_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,846},{29,28}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{29,28}}</string>
                <key>sourceSize</key>
                <string>{35,28}</string>
            </dict>
            <key>dl_enemy_07_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,253},{23,38}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,38}}</string>
                <key>sourceSize</key>
                <string>{25,38}</string>
            </dict>
            <key>dl_enemy_07_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,106},{21,38}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{21,38}}</string>
                <key>sourceSize</key>
                <string>{25,38}</string>
            </dict>
            <key>dl_enemy_07_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,143},{19,38}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{19,38}}</string>
                <key>sourceSize</key>
                <string>{25,38}</string>
            </dict>
            <key>dl_enemy_bigboss01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,441},{146,102}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,3},{146,102}}</string>
                <key>sourceSize</key>
                <string>{150,108}</string>
            </dict>
            <key>dl_enemy_bigboss01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,293},{146,102}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,3},{146,102}}</string>
                <key>sourceSize</key>
                <string>{150,108}</string>
            </dict>
            <key>dl_enemy_bigboss01_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,605},{144,102}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{144,102}}</string>
                <key>sourceSize</key>
                <string>{150,108}</string>
            </dict>
            <key>dl_enemy_bigboss01_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,664},{138,102}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,3},{138,102}}</string>
                <key>sourceSize</key>
                <string>{150,108}</string>
            </dict>
            <key>dl_enemy_bigboss02_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,408},{153,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{153,193}}</string>
                <key>sourceSize</key>
                <string>{161,197}</string>
            </dict>
            <key>dl_enemy_bigboss02_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,98},{153,195}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{153,195}}</string>
                <key>sourceSize</key>
                <string>{161,197}</string>
            </dict>
            <key>dl_enemy_bigboss02_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,368},{153,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{153,193}}</string>
                <key>sourceSize</key>
                <string>{161,197}</string>
            </dict>
            <key>dl_enemy_bigboss02_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,253},{153,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{153,193}}</string>
                <key>sourceSize</key>
                <string>{161,197}</string>
            </dict>
            <key>dl_enemy_bigboss03_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,523},{175,139}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{175,139}}</string>
                <key>sourceSize</key>
                <string>{185,149}</string>
            </dict>
            <key>dl_enemy_bigboss03_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,563},{175,137}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{175,137}}</string>
                <key>sourceSize</key>
                <string>{185,149}</string>
            </dict>
            <key>dl_enemy_bigboss04_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{217,102}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{217,102}}</string>
                <key>sourceSize</key>
                <string>{225,108}</string>
            </dict>
            <key>dl_enemy_bigboss04_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,2},{217,94}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,8},{217,94}}</string>
                <key>sourceSize</key>
                <string>{225,108}</string>
            </dict>
            <key>dl_enemy_bigboss05_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,106},{194,130}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{194,130}}</string>
                <key>sourceSize</key>
                <string>{200,136}</string>
            </dict>
            <key>dl_enemy_bigboss05_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,238},{194,128}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{194,128}}</string>
                <key>sourceSize</key>
                <string>{200,136}</string>
            </dict>
            <key>dl_enemy_bigboss05_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,238},{46,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{46,79}}</string>
                <key>sourceSize</key>
                <string>{46,81}</string>
            </dict>
            <key>dl_role_01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,830},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{46,42}</string>
            </dict>
            <key>dl_role_01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,875},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{46,42}</string>
            </dict>
            <key>dl_role_01_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,788},{40,40}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{46,42}</string>
            </dict>
            <key>dl_role_01_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,563},{34,40}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,1},{34,40}}</string>
                <key>sourceSize</key>
                <string>{46,42}</string>
            </dict>
            <key>dl_role_02_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,968},{37,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{37,42}}</string>
                <key>sourceSize</key>
                <string>{41,44}</string>
            </dict>
            <key>dl_role_02_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,963},{37,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{37,40}}</string>
                <key>sourceSize</key>
                <string>{41,44}</string>
            </dict>
            <key>dl_role_02_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,664},{35,42}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,1},{35,42}}</string>
                <key>sourceSize</key>
                <string>{41,44}</string>
            </dict>
            <key>dl_role_02_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,919},{31,42}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{31,42}}</string>
                <key>sourceSize</key>
                <string>{41,44}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ships.pvr.ccz</string>
            <key>size</key>
            <string>{512,1022}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bcb35b026975b8c61c16ba7d0ab711e1$</string>
            <key>textureFileName</key>
            <string>ships.pvr.ccz</string>
        </dict>
    </dict>
</plist>
