<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dl_pe_a_081.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,106},{13,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,11}}</string>
                <key>sourceSize</key>
                <string>{13,11}</string>
            </dict>
            <key>dl_pe_a_082.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,94},{20,15}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,15}}</string>
                <key>sourceSize</key>
                <string>{20,17}</string>
            </dict>
            <key>dl_pe_a_091.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,106},{12,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,11}}</string>
                <key>sourceSize</key>
                <string>{12,11}</string>
            </dict>
            <key>dl_pe_a_092.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,86},{18,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,17}}</string>
                <key>sourceSize</key>
                <string>{18,17}</string>
            </dict>
            <key>dl_pe_a_101.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,94},{32,32}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,18},{32,32}}</string>
                <key>sourceSize</key>
                <string>{64,60}</string>
            </dict>
            <key>dl_pe_a_102.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,50},{34,34}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,17},{34,34}}</string>
                <key>sourceSize</key>
                <string>{64,60}</string>
            </dict>
            <key>dl_pe_a_103.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,50},{40,42}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,13},{40,42}}</string>
                <key>sourceSize</key>
                <string>{64,60}</string>
            </dict>
            <key>dl_pe_a_104.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{46,46}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,11},{46,46}}</string>
                <key>sourceSize</key>
                <string>{64,60}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ShootEffect.pvr.ccz</string>
            <key>size</key>
            <string>{80,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0bee71e32ce9be6903d757cdb8b87893$</string>
            <key>textureFileName</key>
            <string>ShootEffect.pvr.ccz</string>
        </dict>
    </dict>
</plist>
