<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dl_pe_a_081.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,2},{25,20}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,20}}</string>
                <key>sourceSize</key>
                <string>{25,22}</string>
            </dict>
            <key>dl_pe_a_082.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,96},{39,28}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{39,28}}</string>
                <key>sourceSize</key>
                <string>{39,34}</string>
            </dict>
            <key>dl_pe_a_091.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,29},{23,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,22}}</string>
                <key>sourceSize</key>
                <string>{23,22}</string>
            </dict>
            <key>dl_pe_a_092.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,137},{35,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,34}}</string>
                <key>sourceSize</key>
                <string>{35,34}</string>
            </dict>
            <key>dl_pe_a_101.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,180},{64,64}}</string>
                <key>offset</key>
                <string>{-2,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,37},{64,64}}</string>
                <key>sourceSize</key>
                <string>{128,120}</string>
            </dict>
            <key>dl_pe_a_102.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,180},{66,66}}</string>
                <key>offset</key>
                <string>{-2,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,36},{66,66}}</string>
                <key>sourceSize</key>
                <string>{128,120}</string>
            </dict>
            <key>dl_pe_a_103.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,96},{82,82}}</string>
                <key>offset</key>
                <string>{-2,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,28},{82,82}}</string>
                <key>sourceSize</key>
                <string>{128,120}</string>
            </dict>
            <key>dl_pe_a_104.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{92,92}}</string>
                <key>offset</key>
                <string>{-2,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,23},{92,92}}</string>
                <key>sourceSize</key>
                <string>{128,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ShootEffect-hd.pvr.ccz</string>
            <key>size</key>
            <string>{136,248}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:be00eb7681f35a823f4f188428820bde$</string>
            <key>textureFileName</key>
            <string>ShootEffect-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
