<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dl_pe_b_021.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,2},{38,42}}</string>
                <key>offset</key>
                <string>{-2,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{104,96},{38,42}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>dl_pe_b_022.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,416},{156,170}}</string>
                <key>offset</key>
                <string>{-3,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,2},{156,170}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>dl_pe_b_023.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,384},{170,182}}</string>
                <key>offset</key>
                <string>{2,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,2},{170,182}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>dl_pe_b_024.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,2},{204,218}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,2},{204,218}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>dl_pe_b_025.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{206,218}}</string>
                <key>offset</key>
                <string>{2,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,4},{206,218}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>dl_pe_b_026.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,208},{206,216}}</string>
                <key>offset</key>
                <string>{1,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,5},{206,216}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>dl_pe_b_027.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,210},{172,198}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,19},{172,198}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>dl_pe_b_028.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,542},{142,156}}</string>
                <key>offset</key>
                <string>{3,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,59},{142,156}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>dl_pe_b_029.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,416},{124,152}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,64},{124,152}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>SmallBossEffect-hd.pvr.ccz</string>
            <key>size</key>
            <string>{512,700}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4c5b131a30856b80baa02b3fc969c86a$</string>
            <key>textureFileName</key>
            <string>SmallBossEffect-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
