<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>choice.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,151},{592,196}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,10},{592,196}}</string>
                <key>sourceSize</key>
                <string>{600,218}</string>
            </dict>
            <key>dl_ui_a_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{592,450}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,2},{592,450}}</string>
                <key>sourceSize</key>
                <string>{612,460}</string>
            </dict>
            <key>dl_ui_c_031.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,267},{148,74}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,1},{148,74}}</string>
                <key>sourceSize</key>
                <string>{154,76}</string>
            </dict>
            <key>dl_ui_c_032.png</key>
            <dict>
                <key>frame</key>
                <string>{{901,217},{148,74}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,1},{148,74}}</string>
                <key>sourceSize</key>
                <string>{154,76}</string>
            </dict>
            <key>dl_ui_c_042.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,367},{54,59}}</string>
                <key>offset</key>
                <string>{22,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,9},{54,59}}</string>
                <key>sourceSize</key>
                <string>{120,75}</string>
            </dict>
            <key>dl_ui_c_043.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,417},{54,59}}</string>
                <key>offset</key>
                <string>{22,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,9},{54,59}}</string>
                <key>sourceSize</key>
                <string>{120,75}</string>
            </dict>
            <key>dl_ui_c_044.png</key>
            <dict>
                <key>frame</key>
                <string>{{841,120},{54,59}}</string>
                <key>offset</key>
                <string>{22,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,9},{54,59}}</string>
                <key>sourceSize</key>
                <string>{120,75}</string>
            </dict>
            <key>dl_ui_c_04a.png</key>
            <dict>
                <key>frame</key>
                <string>{{905,73},{114,69}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{114,69}}</string>
                <key>sourceSize</key>
                <string>{120,75}</string>
            </dict>
            <key>dl_ui_c_04b.png</key>
            <dict>
                <key>frame</key>
                <string>{{905,2},{114,69}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{114,69}}</string>
                <key>sourceSize</key>
                <string>{120,75}</string>
            </dict>
            <key>dl_ui_c_051.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,61},{307,57}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{307,57}}</string>
                <key>sourceSize</key>
                <string>{319,65}</string>
            </dict>
            <key>dl_ui_c_052.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,2},{307,57}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{307,57}}</string>
                <key>sourceSize</key>
                <string>{319,65}</string>
            </dict>
            <key>dl_ui_c_05b.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,120},{243,29}}</string>
                <key>offset</key>
                <string>{-10,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,17},{243,29}}</string>
                <key>sourceSize</key>
                <string>{319,65}</string>
            </dict>
            <key>dl_ui_c_a1.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,176},{89,71}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,1},{89,71}}</string>
                <key>sourceSize</key>
                <string>{99,73}</string>
            </dict>
            <key>dl_ui_c_a2.png</key>
            <dict>
                <key>frame</key>
                <string>{{853,547},{55,57}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,9},{55,57}}</string>
                <key>sourceSize</key>
                <string>{99,73}</string>
            </dict>
            <key>dl_ui_c_a3.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,537},{55,57}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,9},{55,57}}</string>
                <key>sourceSize</key>
                <string>{99,73}</string>
            </dict>
            <key>dl_ui_c_a4.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,530},{55,57}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,9},{55,57}}</string>
                <key>sourceSize</key>
                <string>{99,73}</string>
            </dict>
            <key>dl_ui_c_a5.png</key>
            <dict>
                <key>frame</key>
                <string>{{853,490},{55,57}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,9},{55,57}}</string>
                <key>sourceSize</key>
                <string>{99,73}</string>
            </dict>
            <key>dl_ui_c_b1.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,144},{89,71}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{89,71}}</string>
                <key>sourceSize</key>
                <string>{99,73}</string>
            </dict>
            <key>dl_ui_c_b2.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,480},{55,57}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,9},{55,57}}</string>
                <key>sourceSize</key>
                <string>{99,73}</string>
            </dict>
            <key>dl_ui_c_b3.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,473},{55,57}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,9},{55,57}}</string>
                <key>sourceSize</key>
                <string>{99,73}</string>
            </dict>
            <key>dl_ui_c_b4.png</key>
            <dict>
                <key>frame</key>
                <string>{{855,433},{55,57}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,9},{55,57}}</string>
                <key>sourceSize</key>
                <string>{99,73}</string>
            </dict>
            <key>dl_ui_c_b5.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,423},{55,57}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,9},{55,57}}</string>
                <key>sourceSize</key>
                <string>{99,73}</string>
            </dict>
            <key>dl_ui_d_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,743},{50,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{50,49}}</string>
                <key>sourceSize</key>
                <string>{50,51}</string>
            </dict>
            <key>dl_ui_d_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,698},{50,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,51}}</string>
                <key>sourceSize</key>
                <string>{50,51}</string>
            </dict>
            <key>dl_ui_d_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{953,688},{50,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,51}}</string>
                <key>sourceSize</key>
                <string>{50,51}</string>
            </dict>
            <key>dl_ui_d_021.png</key>
            <dict>
                <key>frame</key>
                <string>{{847,708},{50,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{50,49}}</string>
                <key>sourceSize</key>
                <string>{50,51}</string>
            </dict>
            <key>dl_ui_d_022.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,691},{50,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,51}}</string>
                <key>sourceSize</key>
                <string>{50,51}</string>
            </dict>
            <key>dl_ui_d_023.png</key>
            <dict>
                <key>frame</key>
                <string>{{847,656},{50,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,51}}</string>
                <key>sourceSize</key>
                <string>{50,51}</string>
            </dict>
            <key>dl_ui_d_031.png</key>
            <dict>
                <key>frame</key>
                <string>{{973,532},{50,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{50,49}}</string>
                <key>sourceSize</key>
                <string>{50,51}</string>
            </dict>
            <key>dl_ui_d_032.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,646},{50,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,51}}</string>
                <key>sourceSize</key>
                <string>{50,51}</string>
            </dict>
            <key>dl_ui_d_033.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,639},{50,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,51}}</string>
                <key>sourceSize</key>
                <string>{50,51}</string>
            </dict>
            <key>dl_ui_d_041.png</key>
            <dict>
                <key>frame</key>
                <string>{{973,480},{50,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{50,49}}</string>
                <key>sourceSize</key>
                <string>{50,51}</string>
            </dict>
            <key>dl_ui_d_042.png</key>
            <dict>
                <key>frame</key>
                <string>{{847,604},{50,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,51}}</string>
                <key>sourceSize</key>
                <string>{50,51}</string>
            </dict>
            <key>dl_ui_d_043.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,587},{50,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,51}}</string>
                <key>sourceSize</key>
                <string>{50,51}</string>
            </dict>
            <key>dl_ui_d_051.png</key>
            <dict>
                <key>frame</key>
                <string>{{965,636},{50,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,51}}</string>
                <key>sourceSize</key>
                <string>{50,51}</string>
            </dict>
            <key>dl_ui_d_052.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,594},{50,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,51}}</string>
                <key>sourceSize</key>
                <string>{50,51}</string>
            </dict>
            <key>dl_ui_d_053.png</key>
            <dict>
                <key>frame</key>
                <string>{{971,584},{50,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,51}}</string>
                <key>sourceSize</key>
                <string>{50,51}</string>
            </dict>
            <key>ld-01-405.png</key>
            <dict>
                <key>frame</key>
                <string>{{953,740},{46,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{46,49}}</string>
                <key>sourceSize</key>
                <string>{50,51}</string>
            </dict>
            <key>pause.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,207},{30,54}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,3},{30,54}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>pauseframe.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,367},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>start.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,151},{32,54}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,2},{32,54}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>UIHudAndDrop-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1024,794}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:03a87c22dd86ee2ee7ccf0dab078ddcf$</string>
            <key>textureFileName</key>
            <string>UIHudAndDrop-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
