<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>choice.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,81},{294,99}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,4},{294,99}}</string>
                <key>sourceSize</key>
                <string>{300,109}</string>
            </dict>
            <key>dl_ui_a_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{294,226}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{294,226}}</string>
                <key>sourceSize</key>
                <string>{306,230}</string>
            </dict>
            <key>dl_ui_c_031.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,94},{75,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{75,38}}</string>
                <key>sourceSize</key>
                <string>{77,38}</string>
            </dict>
            <key>dl_ui_c_032.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,80},{75,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{75,38}}</string>
                <key>sourceSize</key>
                <string>{77,38}</string>
            </dict>
            <key>dl_ui_c_042.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,225},{28,30}}</string>
                <key>offset</key>
                <string>{11,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,4},{28,30}}</string>
                <key>sourceSize</key>
                <string>{60,38}</string>
            </dict>
            <key>dl_ui_c_043.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,195},{28,30}}</string>
                <key>offset</key>
                <string>{11,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,4},{28,30}}</string>
                <key>sourceSize</key>
                <string>{60,38}</string>
            </dict>
            <key>dl_ui_c_044.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,64},{28,30}}</string>
                <key>offset</key>
                <string>{11,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,4},{28,30}}</string>
                <key>sourceSize</key>
                <string>{60,38}</string>
            </dict>
            <key>dl_ui_c_04a.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,171},{58,36}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{58,36}}</string>
                <key>sourceSize</key>
                <string>{60,38}</string>
            </dict>
            <key>dl_ui_c_04b.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,157},{58,36}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{58,36}}</string>
                <key>sourceSize</key>
                <string>{60,38}</string>
            </dict>
            <key>dl_ui_c_051.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,33},{154,29}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{154,29}}</string>
                <key>sourceSize</key>
                <string>{160,33}</string>
            </dict>
            <key>dl_ui_c_052.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,2},{154,29}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{154,29}}</string>
                <key>sourceSize</key>
                <string>{160,33}</string>
            </dict>
            <key>dl_ui_c_05b.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,64},{122,15}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,9},{122,15}}</string>
                <key>sourceSize</key>
                <string>{160,33}</string>
            </dict>
            <key>dl_ui_c_a1.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,41},{46,37}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{46,37}}</string>
                <key>sourceSize</key>
                <string>{50,37}</string>
            </dict>
            <key>dl_ui_c_a2.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,291},{28,29}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,4},{28,29}}</string>
                <key>sourceSize</key>
                <string>{50,37}</string>
            </dict>
            <key>dl_ui_c_a3.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,289},{28,29}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,4},{28,29}}</string>
                <key>sourceSize</key>
                <string>{50,37}</string>
            </dict>
            <key>dl_ui_c_a4.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,285},{28,29}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,4},{28,29}}</string>
                <key>sourceSize</key>
                <string>{50,37}</string>
            </dict>
            <key>dl_ui_c_a5.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,261},{28,29}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,4},{28,29}}</string>
                <key>sourceSize</key>
                <string>{50,37}</string>
            </dict>
            <key>dl_ui_c_b1.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,2},{46,37}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{46,37}}</string>
                <key>sourceSize</key>
                <string>{50,37}</string>
            </dict>
            <key>dl_ui_c_b2.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,259},{28,29}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,4},{28,29}}</string>
                <key>sourceSize</key>
                <string>{50,37}</string>
            </dict>
            <key>dl_ui_c_b3.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,255},{28,29}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,4},{28,29}}</string>
                <key>sourceSize</key>
                <string>{50,37}</string>
            </dict>
            <key>dl_ui_c_b4.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,231},{28,29}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,4},{28,29}}</string>
                <key>sourceSize</key>
                <string>{50,37}</string>
            </dict>
            <key>dl_ui_c_b5.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,229},{28,29}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,4},{28,29}}</string>
                <key>sourceSize</key>
                <string>{50,37}</string>
            </dict>
            <key>dl_ui_d_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,424},{25,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,26}}</string>
                <key>sourceSize</key>
                <string>{25,26}</string>
            </dict>
            <key>dl_ui_d_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,423},{25,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,26}}</string>
                <key>sourceSize</key>
                <string>{25,26}</string>
            </dict>
            <key>dl_ui_d_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,397},{25,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,26}}</string>
                <key>sourceSize</key>
                <string>{25,26}</string>
            </dict>
            <key>dl_ui_d_021.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,400},{25,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,26}}</string>
                <key>sourceSize</key>
                <string>{25,26}</string>
            </dict>
            <key>dl_ui_d_022.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,396},{25,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,26}}</string>
                <key>sourceSize</key>
                <string>{25,26}</string>
            </dict>
            <key>dl_ui_d_023.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,370},{25,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,26}}</string>
                <key>sourceSize</key>
                <string>{25,26}</string>
            </dict>
            <key>dl_ui_d_031.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,375},{25,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,26}}</string>
                <key>sourceSize</key>
                <string>{25,26}</string>
            </dict>
            <key>dl_ui_d_032.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,373},{25,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,26}}</string>
                <key>sourceSize</key>
                <string>{25,26}</string>
            </dict>
            <key>dl_ui_d_033.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,369},{25,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,26}}</string>
                <key>sourceSize</key>
                <string>{25,26}</string>
            </dict>
            <key>dl_ui_d_041.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,348},{25,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,26}}</string>
                <key>sourceSize</key>
                <string>{25,26}</string>
            </dict>
            <key>dl_ui_d_042.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,346},{25,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,26}}</string>
                <key>sourceSize</key>
                <string>{25,26}</string>
            </dict>
            <key>dl_ui_d_043.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,342},{25,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,26}}</string>
                <key>sourceSize</key>
                <string>{25,26}</string>
            </dict>
            <key>dl_ui_d_051.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,321},{25,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,26}}</string>
                <key>sourceSize</key>
                <string>{25,26}</string>
            </dict>
            <key>dl_ui_d_052.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,319},{25,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,26}}</string>
                <key>sourceSize</key>
                <string>{25,26}</string>
            </dict>
            <key>dl_ui_d_053.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,315},{25,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,26}}</string>
                <key>sourceSize</key>
                <string>{25,26}</string>
            </dict>
            <key>ld-01-405.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,342},{23,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{23,26}}</string>
                <key>sourceSize</key>
                <string>{25,26}</string>
            </dict>
            <key>pause.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,110},{16,28}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,1},{16,28}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>pauseframe.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,195},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>start.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,80},{16,28}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{16,28}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>UIHudAndDrop.pvr.ccz</string>
            <key>size</key>
            <string>{512,451}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3f3a3d1e31de66de0cbf2230c9d3fbfc$</string>
            <key>textureFileName</key>
            <string>UIHudAndDrop.pvr.ccz</string>
        </dict>
    </dict>
</plist>
