<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dl_scene_02_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,646},{320,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,480}}</string>
                <key>sourceSize</key>
                <string>{320,480}</string>
            </dict>
            <key>dl_scene_02_c.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,646},{320,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,480}}</string>
                <key>sourceSize</key>
                <string>{320,480}</string>
            </dict>
            <key>dl_scene_03_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,324},{320,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,480}}</string>
                <key>sourceSize</key>
                <string>{320,480}</string>
            </dict>
            <key>dl_scene_03_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,324},{320,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,480}}</string>
                <key>sourceSize</key>
                <string>{320,480}</string>
            </dict>
            <key>dl_scene_03_c.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,2},{320,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,480}}</string>
                <key>sourceSize</key>
                <string>{320,480}</string>
            </dict>
            <key>dl_scene_05_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{320,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,480}}</string>
                <key>sourceSize</key>
                <string>{320,480}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Background2.pvr.ccz</string>
            <key>size</key>
            <string>{966,968}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bcf457007093814496c0a7888080940b$</string>
            <key>textureFileName</key>
            <string>Background2.pvr.ccz</string>
        </dict>
    </dict>
</plist>
