<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dl_menu_01b.png</key>
            <dict>
                <key>frame</key>
                <string>{{1361,2},{626,288}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{626,288}}</string>
                <key>sourceSize</key>
                <string>{626,296}</string>
            </dict>
            <key>dl_menu_01c.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1860},{185,47}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{185,47}}</string>
                <key>sourceSize</key>
                <string>{193,51}</string>
            </dict>
            <key>dl_role_01_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{559,1860},{84,82}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{84,82}}</string>
                <key>sourceSize</key>
                <string>{92,84}</string>
            </dict>
            <key>dl_role_02_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{559,1946},{74,81}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{74,81}}</string>
                <key>sourceSize</key>
                <string>{82,87}</string>
            </dict>
            <key>dl_ui_a_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1361,1462},{439,448}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{439,448}}</string>
                <key>sourceSize</key>
                <string>{457,462}</string>
            </dict>
            <key>dl_ui_a_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,948},{588,900}}</string>
                <key>offset</key>
                <string>{-1,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,22},{588,900}}</string>
                <key>sourceSize</key>
                <string>{640,960}</string>
            </dict>
            <key>dl_ui_a_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1553,292},{577,481}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,0},{577,481}}</string>
                <key>sourceSize</key>
                <string>{605,487}</string>
            </dict>
            <key>dl_ui_a_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1068,292},{589,483}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,15},{589,483}}</string>
                <key>sourceSize</key>
                <string>{609,509}</string>
            </dict>
            <key>dl_ui_a_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1553,871},{589,478}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{589,478}}</string>
                <key>sourceSize</key>
                <string>{609,480}</string>
            </dict>
            <key>dl_ui_a_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,292},{592,450}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,2},{592,450}}</string>
                <key>sourceSize</key>
                <string>{612,460}</string>
            </dict>
            <key>dl_ui_a_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,948},{610,910}}</string>
                <key>offset</key>
                <string>{-1,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,11},{610,910}}</string>
                <key>sourceSize</key>
                <string>{640,960}</string>
            </dict>
            <key>dl_ui_b_01a.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,1860},{165,89}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,11},{165,89}}</string>
                <key>sourceSize</key>
                <string>{213,109}</string>
            </dict>
            <key>dl_ui_b_01b.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,1860},{165,89}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,11},{165,89}}</string>
                <key>sourceSize</key>
                <string>{213,109}</string>
            </dict>
            <key>dl_ui_b_02a.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,1850},{195,75}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,15},{195,75}}</string>
                <key>sourceSize</key>
                <string>{213,109}</string>
            </dict>
            <key>dl_ui_b_02b.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,2},{203,81}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,12},{203,81}}</string>
                <key>sourceSize</key>
                <string>{213,109}</string>
            </dict>
            <key>dl_ui_b_03a.png</key>
            <dict>
                <key>frame</key>
                <string>{{797,1850},{195,75}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,15},{195,75}}</string>
                <key>sourceSize</key>
                <string>{213,109}</string>
            </dict>
            <key>dl_ui_b_03b.png</key>
            <dict>
                <key>frame</key>
                <string>{{699,2},{203,81}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,12},{203,81}}</string>
                <key>sourceSize</key>
                <string>{213,109}</string>
            </dict>
            <key>dl_ui_b_04a.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,1850},{195,75}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,15},{195,75}}</string>
                <key>sourceSize</key>
                <string>{213,109}</string>
            </dict>
            <key>dl_ui_b_04b.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,207},{203,81}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,12},{203,81}}</string>
                <key>sourceSize</key>
                <string>{213,109}</string>
            </dict>
            <key>dl_ui_b_05a.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,1860},{161,81}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,11},{161,81}}</string>
                <key>sourceSize</key>
                <string>{213,109}</string>
            </dict>
            <key>dl_ui_b_05b.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,1860},{161,81}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,11},{161,81}}</string>
                <key>sourceSize</key>
                <string>{213,109}</string>
            </dict>
            <key>dl_ui_b_06a.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,2},{203,81}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,12},{203,81}}</string>
                <key>sourceSize</key>
                <string>{213,109}</string>
            </dict>
            <key>dl_ui_b_06b.png</key>
            <dict>
                <key>frame</key>
                <string>{{1156,1933},{203,81}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,12},{203,81}}</string>
                <key>sourceSize</key>
                <string>{213,109}</string>
            </dict>
            <key>dl_ui_b_07a.png</key>
            <dict>
                <key>frame</key>
                <string>{{1156,1850},{203,81}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,12},{203,81}}</string>
                <key>sourceSize</key>
                <string>{213,109}</string>
            </dict>
            <key>dl_ui_b_07b.png</key>
            <dict>
                <key>frame</key>
                <string>{{951,1933},{203,81}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,12},{203,81}}</string>
                <key>sourceSize</key>
                <string>{213,109}</string>
            </dict>
            <key>dl_ui_b_08a.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,1850},{195,75}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,15},{195,75}}</string>
                <key>sourceSize</key>
                <string>{213,109}</string>
            </dict>
            <key>dl_ui_b_08b.png</key>
            <dict>
                <key>frame</key>
                <string>{{951,1850},{203,81}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,12},{203,81}}</string>
                <key>sourceSize</key>
                <string>{213,109}</string>
            </dict>
            <key>ld_00_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{612,944}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,8},{612,944}}</string>
                <key>sourceSize</key>
                <string>{640,960}</string>
            </dict>
            <key>ld_03_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,1860},{161,77}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,13},{161,77}}</string>
                <key>sourceSize</key>
                <string>{213,109}</string>
            </dict>
            <key>ld_03_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,1860},{161,79}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,12},{161,79}}</string>
                <key>sourceSize</key>
                <string>{213,109}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mainMenu-hd.pvr.ccz</string>
            <key>size</key>
            <string>{2036,2047}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:004384042a49d87036b20ac06d198708$</string>
            <key>textureFileName</key>
            <string>mainMenu-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
