<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dl_menu_01b.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,2},{313,144}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{313,144}}</string>
                <key>sourceSize</key>
                <string>{313,148}</string>
            </dict>
            <key>dl_menu_01c.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,166},{93,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{93,24}}</string>
                <key>sourceSize</key>
                <string>{97,26}</string>
            </dict>
            <key>dl_role_01_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,934},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{46,42}</string>
            </dict>
            <key>dl_role_02_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,978},{37,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{37,42}}</string>
                <key>sourceSize</key>
                <string>{41,44}</string>
            </dict>
            <key>dl_ui_a_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{705,771},{221,225}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{221,225}}</string>
                <key>sourceSize</key>
                <string>{229,231}</string>
            </dict>
            <key>dl_ui_a_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,2},{296,444}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,17},{296,444}}</string>
                <key>sourceSize</key>
                <string>{320,480}</string>
            </dict>
            <key>dl_ui_a_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,771},{289,242}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{289,242}}</string>
                <key>sourceSize</key>
                <string>{303,244}</string>
            </dict>
            <key>dl_ui_a_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,300},{295,241}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,8},{295,241}}</string>
                <key>sourceSize</key>
                <string>{305,255}</string>
            </dict>
            <key>dl_ui_a_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{711,317},{295,240}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{295,240}}</string>
                <key>sourceSize</key>
                <string>{305,240}</string>
            </dict>
            <key>dl_ui_a_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,543},{294,226}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{294,226}}</string>
                <key>sourceSize</key>
                <string>{306,230}</string>
            </dict>
            <key>dl_ui_a_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,476},{306,456}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{306,456}}</string>
                <key>sourceSize</key>
                <string>{320,480}</string>
            </dict>
            <key>dl_ui_b_01a.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,934},{85,47}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,4},{85,47}}</string>
                <key>sourceSize</key>
                <string>{107,55}</string>
            </dict>
            <key>dl_ui_b_01b.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,934},{85,47}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,4},{85,47}}</string>
                <key>sourceSize</key>
                <string>{107,55}</string>
            </dict>
            <key>dl_ui_b_02a.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,125},{99,39}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,7},{99,39}}</string>
                <key>sourceSize</key>
                <string>{107,55}</string>
            </dict>
            <key>dl_ui_b_02b.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,559},{103,41}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,6},{103,41}}</string>
                <key>sourceSize</key>
                <string>{107,55}</string>
            </dict>
            <key>dl_ui_b_03a.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,84},{99,39}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,7},{99,39}}</string>
                <key>sourceSize</key>
                <string>{107,55}</string>
            </dict>
            <key>dl_ui_b_03b.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,664},{103,41}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,6},{103,41}}</string>
                <key>sourceSize</key>
                <string>{107,55}</string>
            </dict>
            <key>dl_ui_b_04a.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,43},{99,39}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,7},{99,39}}</string>
                <key>sourceSize</key>
                <string>{107,55}</string>
            </dict>
            <key>dl_ui_b_04b.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,559},{103,41}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,6},{103,41}}</string>
                <key>sourceSize</key>
                <string>{107,55}</string>
            </dict>
            <key>dl_ui_b_05a.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,934},{81,41}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,6},{81,41}}</string>
                <key>sourceSize</key>
                <string>{107,55}</string>
            </dict>
            <key>dl_ui_b_05b.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,934},{81,41}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,6},{81,41}}</string>
                <key>sourceSize</key>
                <string>{107,55}</string>
            </dict>
            <key>dl_ui_b_06a.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,297},{103,41}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,6},{103,41}}</string>
                <key>sourceSize</key>
                <string>{107,55}</string>
            </dict>
            <key>dl_ui_b_06b.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,297},{103,41}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,6},{103,41}}</string>
                <key>sourceSize</key>
                <string>{107,55}</string>
            </dict>
            <key>dl_ui_b_07a.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,192},{103,41}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,6},{103,41}}</string>
                <key>sourceSize</key>
                <string>{107,55}</string>
            </dict>
            <key>dl_ui_b_07b.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,192},{103,41}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,6},{103,41}}</string>
                <key>sourceSize</key>
                <string>{107,55}</string>
            </dict>
            <key>dl_ui_b_08a.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,2},{99,39}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,7},{99,39}}</string>
                <key>sourceSize</key>
                <string>{107,55}</string>
            </dict>
            <key>dl_ui_b_08b.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,978},{103,41}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{103,41}}</string>
                <key>sourceSize</key>
                <string>{107,55}</string>
            </dict>
            <key>ld_00_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{306,472}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{306,472}}</string>
                <key>sourceSize</key>
                <string>{320,480}</string>
            </dict>
            <key>ld_03_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,934},{81,39}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,7},{81,39}}</string>
                <key>sourceSize</key>
                <string>{107,55}</string>
            </dict>
            <key>ld_03_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,934},{83,41}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,5},{83,41}}</string>
                <key>sourceSize</key>
                <string>{107,55}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mainMenu.pvr.ccz</string>
            <key>size</key>
            <string>{1008,1022}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ddf5c96564c4c470a04e5d9160fc62c7$</string>
            <key>textureFileName</key>
            <string>mainMenu.pvr.ccz</string>
        </dict>
    </dict>
</plist>
