<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>image</key>
		<string>aio_icons_pic@3x</string>
		<key>title</key>
		<string>照片</string>
	</dict>
	<dict>
		<key>image</key>
		<string>aio_icons_red_pack@3x</string>
		<key>title</key>
		<string>发红包</string>
	</dict>
	<dict>
		<key>image</key>
		<string>aio_icons_camera_video@3x</string>
		<key>title</key>
		<string>短视频</string>
	</dict>
	<dict>
		<key>image</key>
		<string>aio_icons_transfer@3x</string>
		<key>title</key>
		<string>转账</string>
	</dict>
	<dict>
		<key>image</key>
		<string>aio_icons_freeaudio@3x</string>
		<key>title</key>
		<string>QQ电话</string>
	</dict>
	<dict>
		<key>image</key>
		<string>aio_icons_favorite@3x</string>
		<key>title</key>
		<string>收藏</string>
	</dict>
	<dict>
		<key>image</key>
		<string>aio_icons_video@3x</string>
		<key>title</key>
		<string>视频电话</string>
	</dict>
	<dict>
		<key>image</key>
		<string>aio_icons_folder@3x</string>
		<key>title</key>
		<string>文件</string>
	</dict>
	<dict>
		<key>image</key>
		<string>aio_icons_location@3x</string>
		<key>title</key>
		<string>位置</string>
	</dict>
	<dict>
		<key>image</key>
		<string>aio_icons_doodle@3x</string>
		<key>title</key>
		<string>悄悄话</string>
	</dict>
	<dict>
		<key>image</key>
		<string>aio_icons_music@3x</string>
		<key>title</key>
		<string>音乐</string>
	</dict>
	<dict>
		<key>image</key>
		<string>aio_icons_shake@3x</string>
		<key>title</key>
		<string>抖一抖</string>
	</dict>
	<dict>
		<key>image</key>
		<string>aio_icons_togetherplay@3x</string>
		<key>title</key>
		<string>名片</string>
	</dict>
	<dict>
		<key>image</key>
		<string></string>
		<key>title</key>
		<string></string>
	</dict>
	<dict>
		<key>image</key>
		<string>aio_icons_remind@3x</string>
		<key>title</key>
		<string>提醒</string>
	</dict>
</array>
</plist>
